.goBackButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #f44336 0%, #ff5722 100%);
    background-origin: border-box;
    box-shadow:
        0 0.5px 1.5px rgba(244, 67, 54, 0.25),
        inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.goBackButton:focus {
    box-shadow:
        inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2),
        0 0.5px 1.5px rgba(244, 67, 54, 0.25),
        0 0 0 3.5px rgba(255, 87, 34, 0.5);

    outline: 0;
}