.goBackButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #f44336 0%, #ff5722 100%);
    background-origin: border-box;
    box-shadow:
        0 0.5px 1.5px rgba(244, 67, 54, 0.25),
        inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.goBackButton:focus {
    box-shadow:
        inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2),
        0 0.5px 1.5px rgba(244, 67, 54, 0.25),
        0 0 0 3.5px rgba(255, 87, 34, 0.5);

    outline: 0;
}

#footerContainer {
    min-height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonWrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/* legend.css */
#legendContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 10px;
}

.legend-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}