.goBackButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #f44336 0%, #ff5722 100%);
    background-origin: border-box;
    box-shadow:
        0 0.5px 1.5px rgba(244, 67, 54, 0.25),
        inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.goBackButton:focus,
.goBackButton:hover {
    box-shadow:
        inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2),
        0 0.5px 1.5px rgba(244, 67, 54, 0.25),
        0 0 0 3.5px rgba(255, 87, 34, 0.5);

    outline: 0;
}

#footerContainer {
    min-height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonWrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/* legend.css */
#legendContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 1px;
}

.legend-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.fc-daygrid-event {
    cursor: pointer;
}

/* Styles pour la modale */
.modal {
    display: none;
    /* Masquée par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #eaeaea;
    font-family: 'Ubuntu', sans-serif;
    color: #36395a;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-button {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}