#createFolder,
#createEvent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 9999;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#createFolder form,
#createEvent form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  min-width: 30dvw;
  min-height: 35dvh;
  padding: 1.5em;
  background: #ffffff;
  border-radius: 12px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

#createFolder .inputWrapper,
#createEvent .inputWrapper {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

#createFolder .inputWrapper label,
#createEvent .inputWrapper label {
  width: 50%;
}

#createEvent .inputWrapper label {
  font-weight: 700;
}

#createFolder .inputWrapper input,
#createEvent .inputWrapper input {
  width: 50%;
  text-align: center;
}

.checkBoxWrapper input {
  width: unset !important;
}

#createFolder .btnWrapper,
#createEvent .btnWrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.radioBtnContainer {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.radioBtnWrapper {
  display: flex;
  gap: 2em;
}

.radioBtnWrapper li {
  list-style: none;
}

.bold {
  font-weight: 700;
}

.subSection {
  margin-top: 4em;
}
