/* ********** GLOBAL SCSS FILE ********** */
/* RESET STYLES */
html,
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri', 'sans-serif';
  color: #36395a;
  cursor: default;
}

a:hover {
  cursor: pointer;
}
