#searchBar {
  background: #36395a;
  padding: 1em;
  display: flex;
  flex-flow: column;
  gap: 1em;
  box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0;
  border-bottom: 4px solid #1191b7;
}

#searchBar h2 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3dvw;
}

#searchBar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchBar li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

#searchBar li label {
  color: #ffffff;
}

#searchBar li input {
  text-align: center;
}

#searchBar button {
  background-color: #1191b7;
  border-radius: 6px;
  border-width: 0;
  box-shadow:
    rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0,
    rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 24px;
  outline: none;
  overflow: hidden;
  text-align: center;
  width: 75px;
}

#searchBar button:disabled {
  cursor: default;
}
