<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gestion des litiges" />
    <link rel="icon" type="image/png" href="../assets/favicon.ico" />
    <link rel="stylesheet" href="../components/header/header.css" />
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../components/searchBar/searchBar.css" />
    <link rel="stylesheet" href="../components/table/table.css" />
    <link rel="stylesheet" href="../controller/affectation.css" />
    <link rel="stylesheet" href="../components/footer/footer.css" />
    <title>Litiges — À affecter</title>
  </head>
  <body id="root" class="root"></body>
  <script
    lang="application/javascript"
    src="../scripts/api/ApiCalls.js"
  ></script>
  <script
    lang="application/javascript"
    src="../scripts/utils/Utils.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/header/Header.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/searchBar/SearchBar.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/table/Table.js"
  ></script>
  <script
    lang="application/javascript"
    src="../controller/Affectation.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/footer/Footer.js"
  ></script>
</html>
