<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../assets/favicon.ico" />
    <link rel="stylesheet" href="../components/header/header.css" />
    <link rel="stylesheet" href="../components/calendrier/calendarFooter.css" />

    <title>Litiges — Calendrier</title>

    <script src='../../dist/index.global.js' defer></script>
    <script src="../components/calendrier/calendar.js" defer></script>
</head>

<body>
    <div id="headerContainer"></div>
    <div id="legendContainer"></div>
    <div id='calendar'></div>
    <!-- <div id="legendContainer"></div> -->
    <div id="footerContainer"></div>

    <script src="https://kit.fontawesome.com/2743dbdb32.js" crossorigin="anonymous"></script>
    <script src="../components/header/calendarHeader.js"></script>
    <script lang="application/javascript" src="../scripts/api/ApiCalls.js"></script>
    <script lang="application/javascript" src="../scripts/utils/Utils.js"></script>
</body>

</html>