<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../assets/favicon.ico" />
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../components/header/header.css" />
    <link rel="stylesheet" href="../components/calendrier/calendarFooter.css" />

    <title>Litiges — Calendrier</title>
</head>

<body>
    <div id="headerContainer"></div>
    <div id="legendContainer"></div>
    <!-- Bouton Retour -->
    <div class="buttonWrapper">
        <button id="backButton" class="goBackButton">Retour</button>
    </div>
    <div id="calendar"></div>
    <div id="footerContainer"></div>

    <!-- Modale pour afficher le commentaire de l'événement -->
    <div id="eventModal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="closeModal">&times;</span>
            <p><span class="event-label">Dossier n° :</span> <span id="eventDossier"></span></p>
            <p><span class="event-label">Type :</span> <span id="eventTitle"></span></p>
            <p><span class="event-label">Détails de l'évènement :</span> <span id="eventComment"></span></p>
            <p><span class="event-label">Lieu :</span> <span id="eventPlace"></span></p>
        </div>
    </div>


    <!-- Charger les utilitaires et services en premier -->
    <script lang="application/javascript" src="../scripts/utils/Utils.js"></script>
    <script lang="application/javascript" src="../scripts/api/ApiCalls.js"></script>
    <script lang="application/javascript" src="../services/Folder.service.js"></script>
    <script lang="application/javascript" src="../services/Event.service.js"></script>

    <!-- Charger les composants additionnels et globales -->
    <script src='../../dist/index.global.js'></script>
    <script src="https://kit.fontawesome.com/2743dbdb32.js" crossorigin="anonymous"></script>
    <script src="../components/header/calendarHeader.js"></script>

    <!-- Charger calendar.js en dernier -->
    <script lang="application/javascript" src="../components/calendrier/calendar.js"></script>
</body>

</html>