<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../assets/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <link rel="stylesheet" href="../components/header/header.css" />
    <link rel="stylesheet" href="../components/calendrier/calendarFooter.css" />

    <title>Litiges — Calendrier</title>
</head>

<body>
    <div id="headerContainer"></div>
    <div id="legendContainer"></div>
    <!-- Bouton Retour -->
    <div class="buttonWrapper">
        <button id="backButton" class="goBackButton">Retour</button>
    </div>
    <div id="calendar"></div>
    <div id="footerContainer"></div>

    <!-- Modale pour afficher le commentaire de l'événement -->
    <div id="eventModal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="closeModal">&times;</span>
            <p id="eventComment"></p>
            <p id="eventPlace"></p>
        </div>
    </div>

    <!-- Charger les utilitaires et services en premier -->
    <script lang="application/javascript" src="../scripts/utils/Utils.js"></script>
    <script lang="application/javascript" src="../scripts/api/ApiCalls.js"></script>
    <script lang="application/javascript" src="../services/Event.service.js"></script>

    <!-- Charger les composants additionnels et globales -->
    <script src='../../dist/index.global.js'></script>
    <script src="https://kit.fontawesome.com/2743dbdb32.js" crossorigin="anonymous"></script>
    <script src="../components/header/calendarHeader.js"></script>

    <!-- Charger calendar.js en dernier -->
    <script lang="application/javascript" src="../components/calendrier/calendar.js"></script>
</body>

</html>