<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gestion des litiges" />
    <link rel="icon" type="image/png" href="../assets/favicon.ico" />
    <link rel="stylesheet" href="../components/header/header.css" />
    <link rel="stylesheet" href="../components/folderHeader/folderHeader.css" />
    <link
      rel="stylesheet"
      href="../components/createNewFolder/createNewFolder.css"
    />
    <link rel="stylesheet" href="../components/alert/alert.css" />
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../components/footer/footer.css" />
    <link rel="stylesheet" href="../components/table/table.css" />
    <link rel="stylesheet" href="../components/mailHistory/mailHistory.css" />
    <link rel="stylesheet" href="../controller/folder/folder.css" />
    <link rel="stylesheet" href="../components/eventList/eventList.css" />
    <title>Dossier — Détails</title>
  </head>
  <body id="root" class="root"></body>
  <script
    lang="application/javascript"
    src="../scripts/utils/Utils.js"
  ></script>
  <script
    lang="application/javascript"
    src="../scripts/api/ApiCalls.js"
  ></script>
  <script
    lang="application/javascript"
    src="../services/Folder.service.js"
  ></script>
  <script
    lang="application/javascript"
    src="../services/Event.service.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/header/Header.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/folderHeader/FolderHeader.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/footer/Footer.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/mailHistory/MailHistory.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/eventList/EventList.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/alert/Alert.js"
  ></script>
  <script
    lang="application/javascript"
    src="../components/createNewEvent/CreateNewEvent.js"
  ></script>
  <script
    lang="application/javascript"
    src="../controller/folder/Folder.js"
  ></script>
</html>
