<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/header/header.css" />
    <link rel="stylesheet" href="../components/footer/footer.css" />
    <link rel="stylesheet" href="../components/alert/alert.css" />
    <link rel="stylesheet" href="../components/themeList/themeList.css" />
    <link rel="stylesheet" href="../../global.css" />
    <title>Liste des Thèmes</title>
</head>

<body>
    <div id="themeListComponent">
        <h2>Liste des Thèmes</h2>
        <ul id="themeList"></ul>
        <input type="text" id="newThemeInput" placeholder="Ajouter un nouveau thème" />
        <button id="addThemeButton">Ajouter</button>
    </div>

    <script src="../components/themeList/ThemeList.js"></script>
    <script lang="application/javascript" src="../scripts/utils/Utils.js"></script>
    <script lang="application/javascript" src="../components/alert/Alert.js"></script>
    <script lang="application/javascript" src="../scripts/api/ApiCalls.js"></script>
    <script lang="application/javascript" src="../components/header/Header.js"></script>
    <script lang="application/javascript" src="../components/footer/Footer.js"></script>
    <!-- <script lang="application/javascript" src="../controller/list/List.js"></script> -->
</body>

</html>