<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gestion des litiges" />
    <link rel="icon" type="image/png" href="../assets/favicon.ico" />
    <!-- Inclure les fichiers CSS -->
    <link rel="stylesheet" href="../components/header/header.css" />
    <link rel="stylesheet" href="../components/footer/footer.css" />
    <link rel="stylesheet" href="../components/themeList/themeList.css" />
    <title>Litiges — À affecter</title>
</head>

<body id="root" class="root">
    <!-- Inclure les éléments Header et Footer ici -->
    <header id="header"></header>
    <main></main>
    <footer id="footer"></footer>

    <!-- Inclure les scripts JavaScript -->
    <script lang="application/javascript" src="../scripts/utils/Utils.js"></script>
    <script lang="application/javascript" src="../scripts/api/ApiCalls.js"></script>
    <script lang="application/javascript" src="../components/header/Header.js"></script>
    <script lang="application/javascript" src="../components/footer/Footer.js"></script>
    <script lang="application/javascript" src="../components/themeList/ThemeList.js"></script>

    <!-- Initialisation des composants Header et Footer -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Initialisation du header
            const header = new Header();
            header.init();

            // Initialisation du footer
            const footer = new Footer();
            footer.init();

            // Initialisation du composant de liste de thèmes
            new ThemeList().initThemeList();
        });
    </script>
</body>

</html>