#folderHistory {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 9999;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.historyWrapper h2 {
  color: #36395a;
  font-size: 1.5dvw;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2em;
}

.subtitle {
  font-size: 2dvw;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2em;
}

.historyWrapper article {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  min-width: 30dvw;
  min-height: 35dvh;
  background: #ffffff;
  border-radius: 12px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.historyWrapper article div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}