#searchList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #36395a;
  padding: 1em;
  border-bottom: 4px solid #1191b7;
}

#searchList .inputWrapper {
  display: flex;
  gap: 1em;
}

#searchList .inputWrapper label {
  color: #ffffff;
}

th[data-sort="cle"], th[data-sort="theme"] {
  min-width: 100px;
}

th[data-sort]:hover {
  cursor: pointer;
}

.chevron::before {
  content: '▾'; /* Chevron down */
  margin-left: 5px;
  display: inline-block;
  transform-origin: center;
  transition: transform 0.2s;
  color: #1191b7;
}

.th-sort-asc .chevron::before {
  transform: rotate(180deg); /* Chevron up */
}

.th-sort-desc .chevron::before {
  transform: rotate(0deg); /* Chevron down */
}