#tableContainer {
  max-height: 60dvh;
  overflow-y: scroll;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

table {
  width: 100%;
  overflow-y: auto;
  border-collapse: collapse;
  background: #f1f1f1;
}

th {
  background: #36395a;
  color: #ffffff;
  font-size: 1.2dvw;
  position: sticky;
  top: 0;
}

th,
td {
  padding: 0.5em;
  text-align: center;
}

td:hover {
  cursor: pointer !important;
}

tr:hover {
  background: #36395a;
}

tr:hover td,
tr:hover th {
  color: #ffffff;
}
