main {
  min-height: 67dvh;
}

.titleWrapper {
  background: #36395a;
}

.titleWrapper h2 {
  text-align: center;
  padding: 1em;
  color: #ffffff;
}

#viewMail {
  display: flex;
  justify-content: space-between;
}

#leftArticle,
#rightArticle {
  min-height: 67dvh;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

/* LEFT CONTAINER */

#leftArticle {
  border-radius: 0 0 8px 0;
  width: 64.5%;
}

.courrier {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 0 0 8px 0;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

/* RIGHT CONTAINER */
#rightArticle {
  width: 34.5%;
  border-radius: 0 0 0 8px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  padding: 0 2em;
}

#rightArticle h2 {
  text-transform: uppercase;
}

#rightArticle ul {
  display: flex;
  flex-flow: column;
  gap: 2em;
  width: 100%;
}

#rightArticle li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#rightArticle input[type='text'] {
  text-align: center;
}

#rightArticle li button {
  margin: auto;
  text-align: center;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 4em;
}
