main {
  min-height: 67dvh;
}

#viewMail {
  display: flex;
  justify-content: space-between;
}

#leftArticle,
#rightArticle {
  min-height: 67dvh;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

/* LEFT CONTAINER */

#leftArticle {
  border-radius: 0 0 8px 0;
  width: 64.5%;
}

.courrier {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 0 0 8px 0;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

/* RIGHT CONTAINER */
#rightArticle {
  width: 34.5%;
  border-radius: 0 0 0 8px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  padding: 0 2em;
}

#rightArticle h2 {
  text-transform: uppercase;
}

#rightArticle ul {
  display: flex;
  flex-flow: column;
  gap: 2em;
  width: 100%;
}

#rightArticle li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#rightArticle input[type='text'] {
  text-align: center;
}

#rightArticle li button {
  margin: auto;
  text-align: center;
}

.rightArticle button {
  background-color: #1191b7;
  border-radius: 6px;
  border-width: 0;
  box-shadow:
    rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0,
    rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 42px;
  outline: none;
  overflow: hidden;
  text-align: center;
  width: 75px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 4em;
}

.btnWrapper button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btnWrapper button:focus {
  box-shadow:
    #d6d6e7 0 0 0 1.5px inset,
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
}

.btnWrapper button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.btnWrapper button:hover {
  cursor: pointer !important;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
