#folderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
  min-height: 67dvh;
  margin-top: 1em;
}

.leftArticle,
.rightArticle {
  display: flex;
  width: 46%;
  flex-flow: column;
  gap: 1em;
}

.leftArticle .element {
  margin-top: 3.5em;
}

.element {
  width: 100%;
  padding: 1.5em;
  gap: 3em;
  background: #ffffff;
  border-radius: 12px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.historySection {
  padding: 0.5em !important;
  width: fit-content !important;
  display: flex;
  flex-flow: row !important;
  align-self: center;
}

#folderContainer ul {
  display: flex;
  flex-flow: column;
  gap: 2em;
}

#folderContainer ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#folderContainer ul li div {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

#folderContainer label {
  font-weight: 700;
  font-size: 0.9em;
  width: 50%;
}

#folderContainer input {
  text-align: center;
}

#folderContainer p {
  text-align: right;
  font-size: 0.9em;
}

#folderContainer textarea {
  text-align: left;
  font-size: 0.9em;
  padding: 0.5em;
  width: 50%;
  min-height: 75px;
}

#folderContainer ul li div {
  display: flex;
  flex-flow: column;
}

#folderContainer ul li div label {
  width: 100% !important;
}

.forceLeftAlign {
  text-align: left;
}

#folderContainer .buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MODALE */

#folderModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 9999;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.folderAccess {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.folderAccess h2 {
  font-size: 1.5dvw;
  font-weight: 700;
}

.folderAccess p {
  font-size: 2dvw;
  font-weight: 700;
}

.folderAccess form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  min-width: 30dvw;
  min-height: 35dvh;
  background: #ffffff;
  border-radius: 12px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.btnWrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
