#searchEvent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #36395a;
  padding: 1em;
  border-bottom: 4px solid #1191b7;
}

#searchEvent .inputWrapper {
  display: flex;
  gap: .3em;
}

#searchEvent .inputWrapper label {
  color: #ffffff;
}

#searchEvent .inputWrapper input[type='text'] {
  max-width: 50px;
  text-align: center;
}

#tableContainer {
  margin-bottom: 2em;
}
