#tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* Ajout d'une marge pour espacer le bouton du tableau */
}

#addThemeButton {
    margin: 20px;
    padding: 10px 20px;
    background: #1191b7;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
    /* Centrer le bouton */
}

#addThemeButton:hover {
    background: #0f7ba7;
}

/* Styles pour le modal */
#themeModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.modalWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2.5em;
    background: #ffffff;
    border-radius: 12px;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0 2px 4px,
        rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.modalWrapper h2 {
    font-size: 1.5dvw;
    font-weight: 700;
    color: #36395a;
    text-align: center;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.inputWrapper label {
    font-weight: bold;
}

.inputWrapper select,
.inputWrapper input {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1dvw;
}

.btnWrapper {
    display: flex;
    gap: 1em;
}

button {
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s;
}

.validButton {
    background: #1191b7;
    color: #ffffff;
    border: none;
}

.validButton:hover {
    background: #0f7ba7;
}

.closeModal {
    background: #ff5e5e;
    color: #ffffff;
    border: none;
}

.closeModal:hover {
    background: #ff3b3b;
}