.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.horizontal-bar {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  height: 100px;
  justify-content: space-around;
}

.vertical-bar {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}
