#folderListModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 9999;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#folderListModal h2 {
  text-align: center;
  margin-bottom: 2em;
}

/* SEARCH BAR */
.searchContainer {
  display: flex;
  background: #36395a;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
  border-bottom: 2px solid #1191b7;
}

.searchContainer .inputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.searchContainer label {
  color: #ffffff;
}

.searchContainer input[type='text'] {
  max-width: 50px;
  text-align: center;
}

/* TABLE */
#folderListModal .tableContainer {
  order: 2;
  width: 90%;
  max-height: 67dvh;
  overflow-y: scroll;
}

.buttonWrapper {
  margin-top: 2em;
  order: 3;
}
