header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5em 2em;
  background: #ffffff;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.logoWrapper {
  width: 150px;
  margin-right: -150px;
}

.logoWrapper__logo {
  width: 100%;
}

.logoWrapper__logo:hover {
  cursor: pointer !important;
}

header h1 {
  margin: auto;
  font-weight: 700;
  font-size: 1.7dvw;
  text-transform: uppercase;
}

#calendar {
  max-width: 1100px;
  margin: 0 auto;
}